<h1>Dashboard</h1>
<div class = "article-container">
    <div class = "article"> 
        <img src = "" alt="doc img">
    </div>
    <div class = "article">
        {{#each userlist}}
        <p>Dr. {{First_Name}} {{Last_Name}} </p>
        <p>{{Speciality}} </p>
        <p>{{Address[City]}}, {{Address[State]}}</p>
        {{/each}}
    </div>
</div>
<div>
    <div id="demo-booking-multiple"></div>
    <script type="text/javascript">      
        mobiscroll.datepicker('#demo-booking-multiple', {
        controls: ['calendar', 'timegrid'],
        min: '2022-04-29T00:00',
        max: '2022-10-29T00:00',
        minTime: '08:00',
        maxTime: '19:59',
        stepMinute: 60,
        // example for today's labels and invalids
        labels: [{
            start: '2022-04-28',
            textColor: '#e1528f',
            title: '4 SPOTS'
        }],
        invalid: [{
            start: '2022-04-29T08:00',
            end: '2022-04-29T13:00'
        }, {
            start: '2022-04-29T15:00',
            end: '2022-04-29T17:00'
        }, {
            start: '2022-04-29T19:00',
            end: '2022-04-29T20:00'
        }]
    });
    </script>
</div>
<div> 
    <h4>Overall Rating</h4> <br> 
    <h2>
        <script type="text/javascript">
            var arr[] = document.getElementsByName('Ratings');
            var total = 0;
            for (let i = 0; i < arr.length; i++){
                total += arr[i];
            }
            var avg = total/arr.length;
            display.innerHTML=total;
        </script> 
    </h2>  
</div>
<div>
    {{#each context.Reviews}}
        {{#each this}}
            {{@key}} - {{this}}
        {{/each}}
    {{/each}}
</div>
<a href="/logout">Logout</a>